@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

* {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.appLogo {
    color: rgb(168,85,247);
    margin-right: 1rem;
    font-weight: bold;
}

.appLogoLog {
    font-size: 2rem !important;
    color: rgb(168,85,247);
    font-weight: bold;
}

a {
    text-decoration: none;
}